body {
    font-family: sans-serif;
    color: gray;
}
footer{
    margin-top: 20px;
        width: 60%;
        font-weight: bold;
        border-top: 2px solid gray;
    
    }
    div.box1{
        display: inline;
        font-size: 15px;
    }
    .box2{
        float:right;
        font-size: 15px;
    }