body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display:block;
    max-width: 200px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}
input [type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="button"], input[type="sumbit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"], input[type="sumbit"]:hover {
    background-color: #45a049;
}
#result {
    font-weight: bold;
    margin-top: 10px;
}